nav {
    background-color: darkblue;
    padding: 10px;
}

main {
    max-width: 800px;
}

aside {
    width: 15rem;
    margin: 10px;
    border: 1px solid green;
    padding: 10px;
    background-color: bisque;
    color: rgb(6, 4, 74);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

footer {
    margin-top: 10px;
    border-top: 1px solid green;
    text-align: center;
}